*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #000;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	display: none;
}

#mainscreen, .image-container{
	width: 100%;
	height: 100%;
}

#mainscreen .image-container img{
	width: 100%;
	height: 100%;
}

#splashscreen{
	background-image: url(../../assets/img/startscherm_background.png);
	background-size: 100% auto;
}

#continue{
	position: fixed;
	left: 15%;
	bottom: 4%;
	width: 70%;
	height: 9%;
	background-color: #F00;
	border: none;
	color: #FFF;
	font-weight: bolder;
	font-size: 140%;
	display: none;
}

#game-container{
	color: #fff;
	display: none;
}

#endgame-container{
	color: #fff;
	display: none;
}

.gameheader{
	width: 100%;
	height: 10%;
	background-color: #D00;
	text-align: center;
	padding: 0;
	margin: 0;
}

.content-block{
	width: 100%;
	height: 45%;
	position: relative;
}

.artist-image{
    /*height:auto; max-width:100%;*/
    max-height: 47.5%; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.content-block .tags{
	background-color: #D00;
	width: 70%;
	position: absolute;
	bottom: 5%;
}

.content-block li{
	list-style-type: none;
	width: 100%;
	margin: 5px 5%;
}

.hiddenid{
	display: none;
}

#content-result{
	display: none;
	color: #FFFFFF;
	width: 75%;
	margin: 0 auto;
	position: relative;
	top: 25%;
	text-align: center;
}

#content-result li{
	font-size: 22px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	list-style-type: none;
	margin-top: 10px;
}

@media (min-width:720px) {
	.content-block{
		width: 50%;
		height: 90%;
		float: left;
		margin: auto auto;
	}

	.artist-image{
	    height: 100%; 
	    max-width:100%;
	    display: block;
	    margin: auto auto;
	}

}
